<h2 mat-dialog-title>Insert a new framework</h2>

<mat-dialog-content class="mat-typography">
  <form class="d-flex flex-column align-items-center" #createFrameworkForm="ngForm" (ngSubmit)="createFramework(createFrameworkForm)">

    <mat-form-field>
      <mat-label>Framework name</mat-label>
      <input matInput type="text" name="name" ngModel required autocomplete="name" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Official docs link</mat-label>
      <input matInput type="url" name="docs" ngModel required />
    </mat-form-field>

    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="createFrameworkForm.invalid">Insert</button>
    </mat-dialog-actions>
    
  </form>
</mat-dialog-content>
