@use "../../../assets/scss/variables.scss" as *;

h1 {
  color: $primary;

  .logo_wrapper {
    height: 50px;

    img {
      height: 100%;
    }
  }
}

.count_badge {
  margin-right: 22px;
}

.framework_links_list,
table {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  width: 100%;

  > li:not(:last-child),
  thead > tr,
  tr:not(:last-child) {
    border-bottom: 2px solid #dddddd !important;
  }

  a {
    word-wrap: break-word;
  }
}
