@use "../../../assets/scss/variables.scss" as *;

h1 {
  color: $primary;

  .logo_wrapper {
    height: 50px;

    img {
      height: 100%;
    }
  }
}

.count_badge {
  margin-right: 22px;
}

table {
  width: 100%;
}
