<h1 class="text-center mb-0 pt-3" id="register_text">REGISTER</h1>

<section class="d-flex justify-content-center py-5">
  <form #registerForm="ngForm" (ngSubmit)="handleRegister(registerForm)">
    <div *ngIf="error.status" class="alert alert-danger mx-auto" role="alert">
      <strong>{{ error.message }}</strong>
    </div>
    
    <mat-form-field>
      <mat-label>E-mail</mat-label>
      <input matInput type="email" name="email" ngModel required autocomplete="email" />
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" name="password" ngModel minlength="6" required autocomplete="current-password" />
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type="button">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  
    <button id="register_button" mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">Register</button>
  </form>
</section>

<button mat-button color="primary" class="d-block mx-auto" routerLink="/login">Already have an account? Login now</button>
