<mat-sidenav-container class="example-container d-flex">
  <mat-sidenav *ngIf="authService.isLoggedIn" mode="side" opened class="custom_sidenav">
    <mat-list class="py-0" role="list">
      <mat-list-item *ngIf="authService.user?.email === environments.ADMIN_EMAIL" class="border-bottom new_framework" role="listitem" (click)="openDialog('create')">
        New framework
        <button mat-icon-button class="example-icon" aria-label="Plus icon" #tooltip="matTooltip" matTooltip="New framework" matTooltipPosition="below" matTooltipHideDelay="0">
          <mat-icon>add</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item *ngFor="let framework of frameworkService.frameworks; index as index" role="listitem" routerLinkActive="active text-white" routerLink="/framework/{{ framework.name | slug }}">
        <span routerLinkActive="text-white">{{ framework.name }}</span>
        <button *ngIf="authService.user?.email === environments.ADMIN_EMAIL" mat-icon-button class="example-icon" aria-label="Plus icon" #tooltip="matTooltip" [matTooltip]="'New link for ' + framework.name" matTooltipPosition="below" matTooltipHideDelay="0" (click)="openDialog('newLink', framework.id)">
          <mat-icon>add</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>    
  </mat-sidenav>

  <mat-sidenav-content class="position-static w-100 ms-0">
    <mat-toolbar color="primary" class="position-sticky top-0 end-0 z-2">
      <span class="example-spacer"></span>
      <button routerLink="/login" *ngIf="!authService.isLoggedIn" mat-icon-button class="example-icon" aria-label="Login icon" #tooltip="matTooltip" matTooltip="Login" matTooltipPosition="below" matTooltipHideDelay="0">
        <mat-icon>login</mat-icon>
      </button>
      <button routerLink="/register" *ngIf="!authService.isLoggedIn" mat-icon-button class="example-icon" aria-label="Register icon"  #tooltip="matTooltip" matTooltip="Register" matTooltipPosition="below" matTooltipHideDelay="0">
        <mat-icon>person_add</mat-icon>
      </button>
      <button *ngIf="authService.isLoggedIn" mat-icon-button class="example-icon" aria-label="Logout icon" (click)="logoutUser()" #tooltip="matTooltip" matTooltip="Logout" matTooltipPosition="below" matTooltipHideDelay="0">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>

    <main class="p-5 overflow-y-auto">
      <h1 *ngIf="!authService.isLoggedIn" class="text-center fw-bolder mb-0 d-flex justify-content-center align-items-center">PLEASE, USE THE TOP-RIGHT LOGIN ICON TO EXPLORE THE SITE</h1>
      <h1 *ngIf="authService.isLoggedIn && frameworkService.frameworks && router.url == '/'" class="text-center fw-bolder mb-0 d-flex justify-content-center align-items-center">SELECT A FRAMEWORK FROM THE LEFT PANEL</h1>
      <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
