<mat-sidenav-container class="example-container">
  <mat-sidenav *ngIf="authService.isLoggedIn" mode="side" opened>
    <mat-list role="list">
      <mat-list-item role="listitem" (click)="openDialog('new')">
        New framework
        <button mat-icon-button class="example-icon" aria-label="Plus icon" #tooltip="matTooltip" matTooltip="New framework" matTooltipPosition="below" matTooltipHideDelay="0">
          <mat-icon>add</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item *ngFor="let framework of frameworkService.frameworks; index as index" role="listitem" routerLink="/framework/{{ framework.name | slug }}" routerLinkActive="active">
        {{ framework.name }}
        <button mat-icon-button class="example-icon" aria-label="Plus icon" #tooltip="matTooltip" matTooltip="Delete framework" matTooltipPosition="below" matTooltipHideDelay="0" (click)="openDialog('delete', framework.id, framework.name)">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>    
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="position-sticky top-0 end-0 z-2">
      <span class="example-spacer"></span>
      <button routerLink="/login" *ngIf="!authService.isLoggedIn" mat-icon-button class="example-icon" aria-label="Login icon" #tooltip="matTooltip" matTooltip="Login" matTooltipPosition="below" matTooltipHideDelay="0">
        <mat-icon>login</mat-icon>
      </button>
      <button routerLink="/register" *ngIf="!authService.isLoggedIn" mat-icon-button class="example-icon" aria-label="Register icon"  #tooltip="matTooltip" matTooltip="Register" matTooltipPosition="below" matTooltipHideDelay="0">
        <mat-icon>person_add</mat-icon>
      </button>
      <button *ngIf="authService.isLoggedIn" mat-icon-button class="example-icon" aria-label="Logout icon" (click)="logoutUser()" #tooltip="matTooltip" matTooltip="Logout" matTooltipPosition="below" matTooltipHideDelay="0">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>

    <main class="p-5 overflow-y-auto">
      <h1 *ngIf="!authService.isLoggedIn" class="text-center fw-bolder mb-0 d-flex justify-content-center align-items-center">PLEASE, USE THE TOP-RIGHT LOGIN ICON TO EXPLORE THE SITE</h1>
      <h1 *ngIf="authService.isLoggedIn && frameworkService.frameworks && router.url == '/'" class="text-center fw-bolder mb-0 d-flex justify-content-center align-items-center">SELECT A FRAMEWORK FROM THE LEFT PANEL</h1>
      <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
