@use "../../../assets/scss/variables.scss" as *;

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;

  .custom_sidenav {
    position: static;
    width: auto;
    min-width: fit-content;

    .logo_wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 36px;
      aspect-ratio: 1 / 1;
      text-align: center;
  
      img {
        height: 100%;
        max-width: 36px;
        object-fit: contain;
      }
    }
  }
}

.new_framework {
  height: 56px !important;
}

.mat-mdc-list-item {
  padding: 0 8px;
  cursor: pointer !important;
  transition: 0.3s;
}

.mat-mdc-list-item:not(.active):hover {
  background-color: $primary_hover;
}

.active {
  background-color: $primary;
}

.example-spacer {
  flex: 1 1 auto;
}

main {
  min-height: calc(100vh - 56px);
  min-height: calc(100svh - 56px);

  h1 {
    min-height: calc(100vh - 56px - 96px);
    min-height: calc(100svh - 56px - 96px);
  }
}

@media (min-width: 600px) {
  .new_framework {
    height: 64px !important;
  }

  .mat-mdc-list-item {
    padding: 0 48px;
  }

  main {
    min-height: calc(100vh - 64px);
    min-height: calc(100svh - 64px);

    h1 {
      min-height: calc(100vh - 64px - 96px);
      min-height: calc(100svh - 64px - 96px);
    }
  }
}
