@import "bootstrap/dist/css/bootstrap.min.css";

mat-sidenav .mat-mdc-list-item-unscoped-content {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.mat-drawer-inner-container {
  display: block;
}

@media (min-width: 992px) {
  .mat-drawer-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
